:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --bitcoin-orange-active: #a16214;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
  --green: #a7d163;
}
* {
  box-sizing: border-box;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--warm-black);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
}
body::-webkit-scrollbar-thumb:active {
  background-color: var(--bitcoin-orange-active);
}
/* Estilos Iniciales */
.title {
  width: 260px;
  font-size: 2.4rem;
  color: var(--warm-black);
}
.text {
  line-height: 2rem;
  font-size: 14px;
  color: var(--warm-black);
}
.subtitle {
  font-size: 1.8rem;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
/* Estilos de Header */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 320px;
  background: linear-gradient(
    207.8deg,
    var(--black) 16.69%,
    var(--bitcoin-orange) 100%
  );
}
.logo-container {
  display: flex;
  align-items: center;
  margin: 25px 0 15px 0;
}
.logo-container::after {
  content: "Batabit";
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: var(--bitcoin-orange);
}
.header__title {
  color: #fff;
}
.header__text {
  width: 280px;
  height: 36px;
  color: var(--soft-orange);
}
.header__button {
  position: absolute;
  bottom: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--warm-black);
  text-decoration: none;
}
.header__button::after {
  content: url("../assets/icons/down-arrow.svg");
  margin-left: 20px;
}
/* Section 1 */
.section1 {
  background-color: var(--off-white);
}

.section1__title {
  line-height: 26px;
}
.section1__text {
  margin: 24px 0;
  line-height: 18px;
  color: #757575;
  width: 288px;
}
/* Tabla de Section 1 */
.table-container {
  position: relative;
}
.table-container::after {
  content: url("../assets/icons/right-arrow.svg");
  position: absolute;
  top: 50%;
  right: -30px;
}
.table {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: var(--just-white);
  border-collapse: collapse;
}
.table__title {
  margin: 20px 20px 20px 10px;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--bitcoin-orange);
  text-align: start;
}

tr td:nth-child(1) {
  color: #b5b0ac;
}
tr td:nth-child(2) {
  color: #757575;
}
td {
  text-align: start;
  font-size: 1.6rem;
  padding: 10px 25px 10px 10px;
  border-bottom: 1px solid var(--off-white);
}
col:nth-child(2) {
  border-left: 1px solid var(--off-white);
}
.table__down::after {
  content: url("../assets/icons/trending-down.svg");
  margin-left: 20px;
}
.table__up::after {
  content: url("../assets/icons/trending-up.svg");
  margin-left: 20px;
}
.table__update-date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 200px;
  margin: 20px auto;
  font-size: 1.3rem;
  background-color: var(--soft-orange);
  border-radius: 8px;
}
/* Section 2 */

.section2 {
  position: relative;
  background-color: #201e1c;
  padding-bottom: 20px;
}
.section2__logo {
  position: absolute;
  top: -10px;
}
.section2__title {
  color: var(--just-white);
  margin: 50px 0 10px 0;
}
.section2__text {
  margin-bottom: 30px;
  color: #808080;
}
.section2__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  gap: 15px;
  width: 90vw;
  text-align: start;
}
.section2__cards article {
  padding: 20px;
  background-color: #282623;
  border-radius: 4px;
  box-shadow: 0px 4px 8px #00000029;
}
.cards__title {
  color: var(--just-white);
}
.cards__desc {
  color: #808080;
}

/* Section3 */
.section3 {
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url(../assets/img/bitcoinbaby2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section3__title {
  margin-top: 55px;
  color: #fff;
}
/* Section4 */
.section4 {
  background-color: var(--off-white);
  height: 500px;
}
.section4__title {
  width: 288px;
}
.section4__text {
  margin: 0 0 20px 0;
  width: 288px;
  color: #757575;
}

/* Tabla de Precios de Seccion4 */

.plans {
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 300px;
  width: 80%;
  margin: 30px;
}


.plans .plans__card {
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  margin-top: 20px;
  min-width: 190px;
  max-width: 300px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}

.plans__membership {
  font-size: 1.2rem;
}
.plans__price {
  position: relative;
  font-size: 5.2rem;
  font-weight: bold;
  font-family: "Inter";
  letter-spacing: -3px;
}
.plans__price::before {
  content: "\024";
  position: absolute;
  top: 5px;
  left: -10px;
  font-size: 1rem;
  color: #363636;
}
.plans__desc {
  margin: 20px auto 0 auto;
  width: 158px;
  height: 30px;
  font-size: 12px;
  color: #757575;
}
.plans--btn {
  position: relative;
  margin-top: 10px;
  display: inline-block;
  width: 131px;
  height: 30px;
  border: 2px solid #f7931a;
  border-radius: 4px;
  line-height: 30px;
  text-decoration: none;
  color: var(--warm-black);
  font-weight: bold;
  background-color: #faf8f7;
}
.plans--btn::after {
  content: url(../assets/icons/orange-right-arrow.svg);
  position: absolute;
  font-size: 1.4rem;
  font-weight: bold;
  top: 13%;
  right: 5px;
}
.basic-tag{
  background-color: var(--secondary-blue);
}
.recomended-tag{
  background-color: var(--bitcoin-orange);
}
.semestral-tag{
  background-color: var(--green);
}
.tag {
  position: absolute;
  top: -15px;
  font-size: 1.4rem;
  padding: 8px;
  border-radius: 8px;
  color: white;
}
.tag p {
  margin: 0;
}

/* Footer */

.footer{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 220px));
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
  background-color: var(--bitcoin-orange);
}
.footer__item{
  list-style: none;
}
.footer__link{
  text-decoration: none;
  color: white;
  line-height: 18px;
}